
[theme="light"] tetris-svg, tetris-svg {

    /* Colores de las piezas */
    --tetris-piece-i: #00bcbc;    /* Cian oscuro */
    --tetris-piece-j: #0038bc;    /* Azul oscuro */
    --tetris-piece-l: #bc6f00;    /* Naranja oscuro */
    --tetris-piece-o: #bcb800;    /* Amarillo oscuro */
    --tetris-piece-s: #00bc00;    /* Verde oscuro */
    --tetris-piece-t: #7b00bc;    /* Púrpura oscuro */
    --tetris-piece-z: #bc0000;    /* Rojo oscuro */

    /* Colores adicionales */
    --tetris-board-border: #cccccc;  /* Gris claro para los bordes */
    --tetris-empty-cell: #f0f0f0;    /* Gris muy claro para celdas vacías */
    
    
}

[theme="dark"] tetris-svg {

    /* Colores de las piezas */
    --tetris-piece-i: #00f0f0;    /* Cian */
    --tetris-piece-j: #0051f0;    /* Azul */
    --tetris-piece-l: #f0a000;    /* Naranja */
    --tetris-piece-o: #f0f000;    /* Amarillo */
    --tetris-piece-s: #00f000;    /* Verde */
    --tetris-piece-t: #a000f0;    /* Púrpura */
    --tetris-piece-z: #f00000;    /* Rojo */

    /* Colores adicionales */
    --tetris-board-border: #444444;  /* Gris oscuro para los bordes */
    --tetris-empty-cell: #111111;    /* Gris muy oscuro para celdas vacías */
}

tetris-svg {

    .draw-L {
        fill: var(--tetris-piece-l);
    }

    .draw-J {
        fill: var(--tetris-piece-j);
    }

    .draw-I {
        fill: var(--tetris-piece-i);
    }

    .draw-O {
        fill: var(--tetris-piece-o);
    }

    .draw-S {
        fill: var(--tetris-piece-s);
    }

    .draw-Z {
        fill: var(--tetris-piece-z);
    }

    .draw-T {
        fill: var(--tetris-piece-t);
    }

}